<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ä§Ç༒ÈRM</title>
    <link rel="stylesheet" href="lib/css/master.css">
    <link rel="icon" href="assets/asc_glitch_no_bg_or_scanlines.png" type="image/x-icon">

</head>
<body>
    <div id="terminal">
        <div id="vertline"></div>
        <div id="initialLoad">
            <div class="loadText" id="firstLoad"></div>
            <span class="loadText lone" id="lineOne"> $ Loading resources......</span>
            <span class="loadText" id="lfour"> $ Please Enter Password: </span>
        </div>
        <form action="/try" method="POST">
            <div id="textAreaForUser">
                    <input id="line" type="password" name="attempt">
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="lib/js/main.js" defer></script>
</body>
</html>